<div
  style="margin-top: 1rem"
  class="some-one-commented-your-post-wrapper"
  fxLayoutAlign="space-between start"
>
  <section fxLayout="row" fxLayoutAlign="start start">
    <img
      src="assets/images/elon_musk.png"
      alt="profile-image"
      class="profile-image"
    />
    <span style="line-height: 17px"
      ><b>ElonMusk69</b> commented on your post: Because you are poor fat and
      ugly and no one loves you. Let me tell you a story about grandma who never
      went to school<span class="date-text">1d</span></span
    >
  </section>

  <img class="posted-image" src="assets/images/photo1.jpg" alt="" />
</div>
