<button mat-icon-button class="close" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>

<section fxLayout="column" fxLayoutAlign="start center">
  <h2>Privacy Policy</h2>

  <p>
    Donec et sagittis nunc. Etiam et dictum tortor. Cras sem sem, feugiat semper
    ultricies vel, consectetur eget ipsum. Proin quis felis vel sem dictum
    aliquet a ac ipsum. Pellentesque congue molestie quam, ut feugiat leo
    ultrices quis. Suspendisse velit ex, aliquam sed orci sed, pretium auctor
    augue. Mauris at purus feugiat, imperdiet ipsum eu, facilisis sapien.
    Pellentesque sed porttitor urna. Vestibulum semper pharetra efficitur. Nulla
    quam augue, volutpat at consequat quis, sodales nec mi. Curabitur tincidunt
    sodales lorem in consectetur. Proin dignissim ante id purus consectetur, et
    dictum sapien sagittis. Aenean lorem lectus, pretium hendrerit nunc non,
    auctor tristique justo.
  </p>

  <p>
    Etiam dignissim diam odio, a vestibulum neque ornare sed. Cras in risus
    fermentum, maximus velit nec, tempus odio. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia curae; Curabitur quis risus
    sed turpis pretium fermentum ac et urna. Duis et metus rutrum, ultricies
    eros vitae, fringilla justo. Pellentesque auctor neque eleifend nunc
    fermentum, et tincidunt augue varius. Duis tincidunt orci mi, in venenatis
    tortor hendrerit a. Morbi porttitor ex at luctus hendrerit. Integer
    vulputate tellus vitae hendrerit gravida. In aliquet pharetra nunc
    sollicitudin gravida. Integer tempus lectus sed nisl rhoncus, id fermentum
    magna finibus. Quisque imperdiet enim nibh, nec molestie lacus lobortis nec.
  </p>

  <p>
    Cras turpis eros, bibendum eu nisl sit amet, ultrices eleifend erat.
    Curabitur at enim a massa posuere pellentesque. Morbi aliquet dolor eget
    volutpat facilisis. Etiam suscipit lobortis tempor. Vivamus luctus ex nibh,
    non consequat lacus placerat sit amet. Aliquam iaculis nibh sit amet mauris
    posuere luctus. Vivamus libero ante, posuere quis metus dictum, consectetur
    suscipit nibh. Maecenas dictum, purus eu fringilla molestie, arcu felis
    ultrices nisi, quis aliquet dolor nisl fermentum sem. Praesent in purus
    dictum, lacinia mauris vitae, dictum est. Morbi at tristique eros. Fusce
    dignissim nibh quis purus tempus faucibus. Praesent molestie mauris non
    sapien venenatis, bibendum blandit dolor volutpat. Pellentesque blandit
    lectus ipsum, sed commodo massa lobortis quis. Integer quis tempor metus.
  </p>

  <button mat-button (click)="onClose()">
    <mat-icon>arrow_downward</mat-icon>
    Close
  </button>
</section>
