<div
  style="margin-top: 1rem"
  class="some-one-liked-your-comment-wrapper"
  fxLayoutAlign="space-between start"
>
  <section fxLayout="row" fxLayoutAlign="start start">
    <img
      src="assets/images/elon_musk.png"
      alt="profile-image"
      class="profile-image"
    />
    <span style="line-height: 17px"
      ><b>ElonMusk69</b> liked on your comment: Cool story bro<span
        class="date-text"
        >2d</span
      ></span
    >
  </section>

  <img class="posted-image" src="assets/images/photo1.jpg" alt="" />
</div>
