@use "../../styles.scss" as s;

p {
  margin: 0;
}
.posted-image {
  margin-top: 0.5rem;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.posted-text-wrapper {
  margin-top: 0.5rem;
  width: 100%;
  height: 400px;
  background: linear-gradient(163deg, #ffffff 0%, #aab7ff 100%);

  .posted-text {
    text-align: center;
    padding: 1rem;
  }
}

.function-buttons-wrapper {
  margin: 1rem 0;

  mat-icon {
    cursor: pointer;
  }

  .liked {
    color: #ed4956;
  }
}

mat-icon {
  transform: scale(1.1);
}

.likes-text {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.view-all-comments-text {
  color: s.$clap-gray;
}

.date-text {
  margin-top: 0.8rem;
  color: s.$clap-gray;
}
