<main *ngIf="posts.length >= 1" fxLayout="column" fxLayoutGap="20px">
  <section *ngFor="let post of posts">
    <clap-app-post-user-wrapper
      [nickname]="post.nickname"
      [creatorsProfileImage]="post.creatorsProfileImage"
      [postLocation]="post.postLocation"
    ></clap-app-post-user-wrapper>

    <img
      *ngIf="this.isMediaPost(post)"
      [routerLink]="['/home', post.id]"
      class="posted-image"
      src="{{ post.mediaUrl }}"
      alt=""
    />

    <div
      *ngIf="!this.isMediaPost(post)"
      [routerLink]="['/home', post.id]"
      class="posted-text-wrapper"
      fxLayoutAlign="center center"
    >
      <h1 class="posted-text">{{ post.text }}</h1>
    </div>

    <clap-app-container [width]="'94%'">
      <div
        class="function-buttons-wrapper"
        fxLayoutAlign="space-between center"
      >
        <section fxLayout="row" fxLayoutGap="16px">
          <div fxLayout="row">
            <mat-icon
              *ngIf="!post.iLikeThisPost"
              (click)="this.giveLikeToPost.emit(post)"
              class="material-icons-outlined"
              >favorite_border</mat-icon
            >
            <mat-icon
              *ngIf="post.iLikeThisPost"
              (click)="onRemoveLikeFromPost(post.iLikeThisPost, post.postLikes)"
              class="material-icons liked"
            >
              favorite
            </mat-icon>
          </div>

          <mat-icon
            [routerLink]="['/home', post.id]"
            class="material-icons-outlined"
            >chat_bubble_outline</mat-icon
          >
          <mat-icon class="material-icons-outlined">share</mat-icon>
        </section>
        <mat-icon class="material-icons-outlined">bookmark_border</mat-icon>
      </div>
      <p (click)="this.openPostLikesDialog.emit(post.postLikes)" *ngIf="post.postLikes.length === 1" class="likes-text">
        {{ post.postLikes.length }} like
      </p>
      <p (click)="this.openPostLikesDialog.emit(post.postLikes)" *ngIf="post.postLikes.length > 1" class="likes-text">
        {{ post.postLikes.length }} likes
      </p>
      <p>
        <b>{{ post.nickname }}</b> {{ post.text }}
      </p>

      <clap-app-post-comments-minified
        [comments]="post.comments"
        [postId]="post.id"
      ></clap-app-post-comments-minified>
      <clap-app-post-add-comment
        [postId]="post.id"
        [myProfileImage]="myProfileImage"
        (clickedAddComment)="this.clickedAddComment.emit()"
      ></clap-app-post-add-comment>

      <p class="date-text">{{ post.createdAt | timeAgo }}</p>
    </clap-app-container>
  </section>
</main>
<section *ngIf="posts.length <= 0">
  <h1>no posts</h1>
</section>
