<section fxLayoutAlign="space-between start" *ngIf="myProfileData">
  <p (click)="this.closeBottomSheet.emit()" class="cancel-button">Cancel</p>
  <p class="edit-profile-text">Edit Profile</p>
  <p (click)="this.closeBottomSheet.emit()" class="done-text">Done</p>
</section>

<section fxLayout="column" fxLayoutAlign="center center">
  <img
    *ngIf="!uploading"
    src="{{ myProfileData.profileImageUrl }}"
    alt=""
    class="profile-picture"
  />

  <img
    *ngIf="uploading"
    src="{{ myProfileData.profileImageUrl }}"
    alt=""
    class="uploading-picture"
  />
  <clap-app-loading-dots *ngIf="uploading"></clap-app-loading-dots>
  <clap-app-profile-image-file-select
    (fileSelected)="this.profileImageSelected.emit($event)"
  ></clap-app-profile-image-file-select>
</section>

<clap-app-my-profile-edit-form *ngIf="myProfileData"
  [myProfileData]="myProfileData"
  [loading]="loading"
  (addBio)="this.addBio.emit($event)"
></clap-app-my-profile-edit-form>
