@use "../../styles.scss" as styles;

.cancel-button {
  cursor: pointer;
}

.edit-profile-text {
  font-weight: bold;
}

.done-text {
  cursor: pointer;
  font-weight: bold;
  color: styles.$clap-blue;
}

.profile-picture {
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.uploading-picture {
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.4;
}

clap-app-profile-image-select {
  margin-bottom: 1rem;
}

clap-app-loading-dots {
  position: absolute;
  top: 37px;
  transform: scale(0.9);
}
