<!-- <div
  class="some-one-liked-your-post-wrapper"
  fxLayoutAlign="space-between center"
>
  <section fxLayout="row" fxLayoutAlign="center center">
    <img
      src="assets/images/elon_musk.png"
      alt="profile-image"
      class="profile-image"
    />
    <span class="user-name">ChristianKatka</span><span>liked your post,</span
    ><span class="date-text">18h</span>
  </section>

  <img class="posted-image" src="assets/images/photo1.jpg" alt="" />
</div>

<div
  *ngIf="notifications"
  class="some-one-liked-your-post-wrapper"
  fxLayoutAlign="space-between center"
>
  <section fxLayout="row" fxLayoutAlign="center center">
    <img
      [src]="notifications[0].postLikersProfileImage"
      alt="profile-image"
      class="profile-image"
    />
    <span class="user-name">{{ notifications[0].postLikersNickname }}</span
    ><span>liked your post,</span
    ><span class="date-text">{{ notifications[0].createdAt | timeAgo }}</span>
  </section>

  <img class="posted-image" src="assets/images/photo1.jpg" alt="" />
</div>

<pre>{{ notifications | json }}</pre> -->

<div
  *ngIf="notifications"
  style="margin-top: 1rem"
  class="some-one-commented-your-post-wrapper"
  fxLayoutAlign="space-between start"
>
  <section fxLayout="row" fxLayoutAlign="start center">
    <img
      [src]="notifications[0].notificationCreatorsProfileImage"
      alt="profile-image"
      class="profile-image"
    />
    <span style="line-height: 17px"
      ><b>{{ notifications[0].postLikersNickname }}</b> liked your post,<span
        class="date-text"
        >{{ notifications[0].createdAt | timeAgo }}</span
      ></span
    >
  </section>

  <img
    *ngIf="notifications[0].postMediaUrl"
    class="posted-image"
    [src]="notifications[0].postMediaUrl"
    alt=""
  />

  <div
    class="posted-text-wrapper"
    *ngIf="notifications[0].postMediaUrl === false"
    fxLayoutAlign="center center"
  >
    <span>{{ notifications[0].postText }}</span>
  </div>
</div>
