<main *ngIf="post" #scroll>
  <clap-app-post-user-wrapper
    [nickname]="post.nickname"
    [creatorsProfileImage]="post.creatorsProfileImage"
    [postLocation]="post.postLocation"
  ></clap-app-post-user-wrapper>

  <img
    *ngIf="this.isMediaPost(post)"
    class="posted-image"
    src="{{ post.mediaUrl }}"
    alt=""
  />

  <div
    *ngIf="!this.isMediaPost(post)"
    class="posted-text-wrapper"
    fxLayoutAlign="center center"
  >
    <h1 class="posted-text">{{ post.text }}</h1>
  </div>

  <clap-app-container [width]="'94%'">
    <div class="function-buttons-wrapper" fxLayoutAlign="space-between center">
      <section fxLayout="row" fxLayoutGap="16px">
        <div fxLayout="row">
          <mat-icon
            *ngIf="!post.iLikeThisPost"
            (click)="this.giveLikeToPost.emit(post)"
            class="material-icons-outlined"
            >favorite_border</mat-icon
          >
          <mat-icon
            *ngIf="post.iLikeThisPost"
            (click)="onRemoveLikeFromPost(post.iLikeThisPost, post.postLikes)"
            class="material-icons liked"
          >
            favorite
          </mat-icon>
        </div>

        <mat-icon class="material-icons-outlined">chat_bubble_outline</mat-icon>
        <mat-icon class="material-icons-outlined">share</mat-icon>
      </section>
      <mat-icon class="material-icons-outlined">bookmark_border</mat-icon>
    </div>
    <p (click)="this.openLikesDialog.emit(post.postLikes)" *ngIf="post.postLikes.length === 1" class="likes-text">
      {{ post.postLikes.length }} like
    </p>
    <p (click)="this.openLikesDialog.emit(post.postLikes)" *ngIf="post.postLikes.length > 1" class="likes-text">
      {{ post.postLikes.length }} likes
    </p>
    <p>
      <b>{{ post.nickname }}</b> {{ post.text }}
    </p>

    <p class="date-text">{{ post.createdAt | timeAgo }}</p>

    <clap-app-post-comments
      [comments]="post.comments"
      [newComments]="post.newComments"
      [commentUIStatus]="commentUIStatus"
      (giveLikeToComment)="this.giveLikeToComment.emit($event)"
      (removeLikeFromComment)="this.removeLikeFromComment.emit($event)"
      (hideNewCommentsBelowPopUp)="this.hideNewCommentsBelowPopUp.emit()"
    ></clap-app-post-comments>

    <clap-app-post-add-comment-form
      [myProfileImage]="myProfileImage"
      [isAddCommentClicked]="isAddCommentClicked"
      (createCommentToPost)="this.createCommentToPost.emit($event)"
    ></clap-app-post-add-comment-form>
  </clap-app-container>
</main>
