<clap-app-container *ngIf="myProfileData" [width]="'90%'">
  <section fxLayout="column" fxLayoutAlign="center center">
    <div class="profile-image-wrapper">
      <img
        (click)="showProfileImage()"
        src="{{ myProfileData.profileImageUrl }}"
        alt=""
        class="profile-picture"
      />

      <button
        (click)="this.openEditProfileBottomSheet.emit()"
        class="mat-elevation-z3 edit-button"
        mat-icon-button
      >
        <mat-icon class="material-icons-outlined">edit</mat-icon>
      </button>
    </div>

    <div fxLayoutAlign="start start">
      <p class="user-name">{{ myProfileData.nickname }}</p>
      <mat-icon class="material-icons-outlined verified-icon"
        >verified</mat-icon
      >
    </div>
    <p class="at-username">@{{ myProfileData.nickname }}</p>
  </section>

  <p style="text-align: center">{{ myProfileData.bio }}</p>
  <mat-divider></mat-divider>

  <section fxLayoutAlign="space-between center" style="margin-bottom: 1rem">
    <div fxLayout="row">
      <span class="bold-number" style="margin-right: 5px">25</span>
      <span class="gray-text" style="margin-right: 10px">Posts</span>
    </div>
    <div fxLayout="row">
      <span class="bold-number" style="margin-right: 5px">400</span>
      <span class="gray-text" style="margin-right: 10px">Likes</span>
    </div>
    <div fxLayout="row">
      <span class="bold-number" style="margin-right: 5px">43</span>
      <span class="gray-text">Comments</span>
    </div>
  </section>
</clap-app-container>
