<clap-app-my-profile-top-bar></clap-app-my-profile-top-bar>
<clap-app-my-profile *ngIf="myProfileData$ | async as myProfileData"
  [myProfileData]="myProfileData"
  (openEditProfileBottomSheet)="onOpenEditProfileBottomSheet()"
></clap-app-my-profile>

<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    style="width: 100%"
    *ngFor="let link of links"
    [routerLink]="link.path"
    routerLinkActive
    #rla="routerLinkActive"
    [routerLinkActiveOptions]="{ exact: true }"
    [active]="rla.isActive"
  >
    {{ link.label }}
  </a>
</nav>

<router-outlet></router-outlet>

<clap-app-space-giver-used-with-fixed-elements></clap-app-space-giver-used-with-fixed-elements>
<clap-app-navbar></clap-app-navbar>
