@use "../../../styles.scss" as s;

.add-comment-wrapper {
  width: 93%;
  z-index: 5;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: 1px solid #dddddd;
  padding: 0.5rem 0;
  margin-top: 6px;
}

form {
  @include s.disable-auto-zoom-on-iphone-input-fields;
  width: 100%;
  font-size: 12px;
}

mat-icon {
  cursor: pointer;
  color: s.$clap-blue;
}
.profile-image {
  height: 45px;
  width: 45px;
  min-height: 45px;
  min-width: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.add-comment-wrapper {
  ::ng-deep .mat-form-field-wrapper {
    padding: 0 !important;
  }
}

mat-form-field {
  width: 100%;
  margin-left: 0.5rem;
}
