img {
  width: 100%;
}

img.medium {
  max-width: 20rem;
}

img.small-medium {
  max-width: 10rem;
}

img.small {
  max-width: 10rem;
}

img.smaller {
  max-width: 6rem;
}

img.tiny {
  max-width: 3rem;
}
